<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>todometer-hsh</title>
  </head>
  <body>
    <div id="root" style="width: 60%;"></div>
  </body>
</html>
